*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./utilidades/mediaqueries";
@import "./variables/variables";


@media only screen and (min-width: 1000px){

.formato{
    #volverA{
        padding-left: 550px;
        font-family: 'Montserrat';
        font-weight:bold;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    }
}

/*Estilos footer*/

footer{
    display: flex;
    flex-direction: row;
}

}

@media only screen and (min-width:1800px){

.formato{
    #volverA{
        padding-left: 850px;
        font-family: 'Montserrat';
        font-weight:bold;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    }
  }
}







